*{
    box-sizing: border-box;
}
.header {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.wrapper {
    width: 70%;
    margin: 0 auto;
}
.displayFlex {
     display: flex;
 }
.header-menu {
    display: flex;
}
.header-menu li:hover {
    border-bottom: 2px solid #5094f2;
}
.header-menu ul {
    list-style: none;
    display: flex;
}
.header-menu li {
    padding: 15px;
}
.header-menu a {
    text-decoration: none;
    color: #999999;
    font-size: 2vw;
    font-family: sans-serif;
}
.header-burgerMenu {
    display:none;
}
.header-logo {
    margin-top: 10px;
    max-width: 50%;
}
.header-logo img{
    margin-top: 10px;
    width: 80%;
}

.slider {
    display: flex;
    width: 100%;
    max-height: 490px;
    overflow: hidden;
    background: url("../img/background-2.png") no-repeat;
    background-size: cover;
}
.slider-arrow {
    margin-top: 11%;
}
.slider-arrow button {
    background: none;
    border: none;
}
.slider-arrow:nth-child(1) {
    margin-left: 10%;
}
.slider-arrow:nth-child(3) {
    margin-right: 10%;
}

.slider-img {
    margin-left: 1em;
    margin-right: 1em;
}
.slider-img img {
    margin-top: 40px;
    width: 90%;
}
.slider-title {
    margin-left: 3vw;
}
.slider-title h2 {
    margin-top: 20%;
    font-size: 3vw;
    font-family:"Segoe UI Light", sans-serif;
    color: white;
}
.slider-title p {
    margin: 0;
    font-size: 2.5vw;
    font-family:"Segoe UI Light", sans-serif;
    color: white;
}
.slider-title button {
    margin-top: 30px;
    color: white;
    background: #5094f2;
    border: none;
    width: 15vw;
    font-size: 2vw;
}
.slider-title button:hover {
   border: 2px solid grey;
}
.slider-title i {
    padding-right: 10px;
}
.items {
    margin-top: 50px;
}
.items ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.items li {
    width: 25%;
}
.items img {
    display: block;
    margin: 0 auto;
    width: 10vw;
}
.items h3 {
    color: #5094f2;
    font-family:"Segoe UI Light", sans-serif;
    text-align: center;
}
.items p {
    font-family:"Segoe UI Light", sans-serif;
    text-align: center;
    font-size: 1.5vw;
}
.content {
    display: flex;
}
.content h3 {
    color: #6f7173;
    font-family:"Segoe UI Light", sans-serif;
    font-size: 3vw;
    text-align: center;
}
.content-img {
    width: 50%;
    margin-top: 30px;
}
.content-img img {
    display: block;
    margin: 0 auto;
    width: 80%;
}
.content-text {
    margin-top: 50px;
    width: 50%;
}
.content-text h4 {
    color: #6f7173;
    font-family:"Segoe UI Light", sans-serif;
    font-size: 30px;
}
.content-text p {
    color: #6f7173;
    font-family:"Segoe UI Light", sans-serif;
    font-size: 20px;
    line-height: 35px;
}
footer p {
    margin: 40px 0;
    text-align: center;
    color:#6f7173;
}
@media screen and (max-width: 1075px) {
    .content {
        display: block;
    }
    .content-img{
        margin: 0 auto;
    }
    .content-text {
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .wrapper {
        width: 90%;
    }
    .header-burgerMenu {
        display: block;
    }
    .item-title {
        margin-left: 5%;
        width: 60%;
    }
    .items-img {
        width: 40%;
    }
    .items-img img {
        margin-top: 5%;
        width: 80%;
    }
    .items ul {
        display: block;
        margin: 0 ;
        padding: 0;
    }
    .items li {
        display: flex;
        margin: 10px 0;
        width: 100%;
    }
    .items P{
        font-size: 3vw;
    }
    .slider-arrow {
        display: none;
    }
    .header-menu {
        display: none;
    }
    .sliderTitle {
        width: 100%;
    }
    .slider-title h2{
        margin-top: 20%;
        font-size: 5vw;
    }
    .slider-title p {
        font-size: 4vw;
    }
    .slider-img {
        width: 80%;
    }
    .slider-title button {
        margin-top: 5%;
        width: 30vw;
        font-size: 4vw;
    }
    .content h3 {
        font-size: 5vw;
    }
    .header {
        justify-content: space-between;
    }
    .header-menuBurger {
        display:block;
    }
    .header-menuBurger ul {
        width: 100px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;

    }
    .header-menuBurger li {
        padding: 4px;
    }
    .headerWrap {
        display: flex;
    }
    .header-menu a {
        font-size: 4vw;
    }
    .header-burgerMenu {
        display: block;
        width: 4vw;
        font-size: 6vw;
    }
}